<a href="https://colab.research.google.com/github/praffs18/EDA-on-All-Indian-movies-IMDb-data/blob/main/EDA_on_All_Indian_movies_IMDb_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EDA on All Indian movies IMDb Data

This dataset of 15506 Indian movies taken from IMDb. This is all the Indian movies on IMDb as of 16/06/2021.

In [151]:
# import all libraries
import pandas as pd 
import numpy as np

# import visualisation libraries
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [152]:
# Mount the google drive
from google.colab import drive
drive.mount('/content/drive',force_remount = True)

Mounted at /content/drive

In [153]:
# Load the data
path  = "/content/drive/MyDrive/Data Science/EDA Projects/EDA on All Indian movies IMDb Data/IMDb Movies India.csv"
data = pd.read_csv(path,encoding='latin-1')
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [154]:
data.tail()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [155]:
# Check how many rows and columns in data
print(f'No. of rows are : {data.shape[0]}')
print(f'No. of feature columns are : {data.shape[1]}')

No. of rows are : 15509
No. of feature columns are : 10

In [156]:
# check all information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [157]:
# Make copy of the data and start doing changes
data_1 = data.copy()
data_1.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [158]:
# Remove # sign in the name column
data_1['Name'] = data_1["Name"].str.replace('#','')
data_1.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [159]:
# Remove parenthesis in year column and remove text 'min' from Duration column and also replace some string in Votes columns
data_1['Year'] = data_1['Year'].str.replace('(','').str.replace(')','')
data_1['Duration'] = data_1['Duration'].str.replace('min','')
data_1["Votes"]=data_1["Votes"].replace("$5.16M", 516).str.replace(',','')
data_1.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,Homecoming,2021,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,2010,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [160]:
# Lets check are there any duplicates
data_1.duplicated(keep = False).value_counts()

False    15497
True        12
dtype: int64

This shows that there are few duplicates present in the data

In [161]:
# Check  what are those values are 
duplicate_data = data_1[data_1.duplicated(keep = False)]
duplicate_data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1249,Arab Ka Sona - Abu Kaalia,1979,NaN,Action,NaN,NaN,Master Bhagwan,Meena Rai,Dara Singh,NaN
1250,Arab Ka Sona - Abu Kaalia,1979,NaN,Action,NaN,NaN,Master Bhagwan,Meena Rai,Dara Singh,NaN
1768,Balidan,1992,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
1769,Balidan,1992,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
4722,First Time - Pehli Baar,2009,NaN,NaN,NaN,NaN,Raja Bundela,Zeenat Aman,Nitin Arora,Raj Babbar
4723,First Time - Pehli Baar,2009,NaN,NaN,NaN,NaN,Raja Bundela,Zeenat Aman,Nitin Arora,Raj Babbar
9712,Musafir,NaN,NaN,Thriller,NaN,NaN,Shiva Dagar,NaN,NaN,NaN
9713,Musafir,NaN,NaN,Thriller,NaN,NaN,Shiva Dagar,NaN,NaN,NaN
13068,Shivani,2019,NaN,Crime,NaN,NaN,Ugresh Prasad Ujala,Santosh,NaN,NaN
13069,Shivani,2019,NaN,Crime,NaN,NaN,Ugresh Prasad Ujala,Santosh,NaN,NaN
13307,Slumdog Karodpati,2019,118,Thriller,NaN,NaN,Rajesh Patole,Udhav Garje,Rahul Gavane,Govindrao
13308,Slumdog Karodpati,2019,118,Thriller,NaN,NaN,Rajesh Patole,Udhav Garje,Rahul Gavane,Govindrao

In [162]:
# Remove Duplicate rows
data_2 = data_1.drop_duplicates(keep= 'first')
data_2.shape

(15503, 10)

In [163]:
# Lets check any duplicate in movie name column
data_2.duplicated(subset = 'Name').value_counts()

False    13837
True      1666
dtype: int64

From this we can say that there are duplicate movie names which need to drop

In [164]:
# Remove duplicate rows 
data_2 = data_1.drop_duplicates(subset = 'Name',keep='first')
data_2.shape

(13837, 10)

In [165]:
# Reset the index
data_2.set_index(np.arange(len(data_2)),inplace=True)
data_2

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,Homecoming,2021,90,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,2010,105,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
13832,Zulm Ko Jala Doonga,1988,NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
13833,Zulmi,1999,129,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
13834,Zulmi Raj,2005,NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
13835,Zulmi Shikari,1988,NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
13836,Zulm-O-Sitam,1998,130,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [166]:
# It seems like there are null values in data and those are NaN values lets check that
missing_data = pd.DataFrame(data_2.isna().sum(),columns = ['Nan_values'])
missing_data['Missing %'] = round(missing_data['Nan_values']*100/len(data_2),2)
missing_data

          Nan_values  Missing %
Name               0       0.00
Year             498       3.60
Duration        7239      52.32
Genre           1590      11.49
Rating          6684      48.31
Votes           6684      48.31
Director         465       3.36
Actor 1         1439      10.40
Actor 2         2131      15.40
Actor 3         2804      20.26

From this we can see that there are lot of NaN Values are present in the data
1. Duration, Rating & Votes columns has Nan Values Approximately 52%, 48% & 48% respectively. which are huge in numbers.
2. We can drop year and Genre because we can not replace those values others we can, also they have less NaN values.

In [167]:
# Drop NaN Values from Year and Genre columns
data_2.dropna(subset=['Year'],inplace=True)
data_2.dropna(subset=['Genre'],inplace=True)

In [168]:
# Conform 
data_2.isna().sum()

Name           0
Year           0
Duration    5455
Genre          0
Rating      4715
Votes       4715
Director     426
Actor 1     1001
Actor 2     1396
Actor 3     1858
dtype: int64

In [169]:
# Before filling the missing values we need to change the datatypes
data_2['Duration'] = data_2['Duration'].apply(pd.to_numeric)
data_2['Votes'] = data_2['Votes'].apply(pd.to_numeric)

In [170]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11782 entries, 1 to 13836
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      11782 non-null  object
 1   Year      11782 non-null  object
 2   Duration  6327 non-null   float64
 3   Genre     11782 non-null  object
 4   Rating    7067 non-null   float64
 5   Votes     7067 non-null   float64
 6   Director  11356 non-null  object
 7   Actor 1   10781 non-null  object
 8   Actor 2   10386 non-null  object
 9   Actor 3   9924 non-null   object
dtypes: float64(3), object(7)
memory usage: 1012.5+ KB

In [171]:
data_2.describe().round(2)

       Duration   Rating      Votes
count   6327.00  7067.00    7067.00
mean     127.37     5.85    2033.22
std       29.19     1.39   12159.68
min        2.00     1.10       5.00
25%      110.00     4.90      17.00
50%      130.00     6.00      60.00
75%      146.00     6.90     454.50
max      321.00    10.00  591417.00

From above description we can replace missing values in 
1. Duration column with mean
2. Rating column with median &
3. Votes column with median

In [172]:
# Replace the missing values 
data_2['Duration'] = data_2['Duration'].fillna(data_2['Duration'].mean())
data_2['Rating'] = data_2['Rating'].fillna(data_2['Rating'].median())
data_2['Votes'] = data_2['Votes'].fillna(data_2['Votes'].median())

In [173]:
# Conform are the values replaced or not
data_2.isna().sum()

Name           0
Year           0
Duration       0
Genre          0
Rating         0
Votes          0
Director     426
Actor 1     1001
Actor 2     1396
Actor 3     1858
dtype: int64

We can not replace the null values for Director & actors column

In [177]:
# Now change the float datatype to int wherever it is necessory
# So in this Duration and Votes column should be an integer
data_2['Duration'] = data_2['Duration'].astype(int)
data_2['Votes'] = data_2['Votes'].astype(int)
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11782 entries, 1 to 13836
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      11782 non-null  object
 1   Year      11782 non-null  object
 2   Duration  11782 non-null  int64
 3   Genre     11782 non-null  object
 4   Rating    11782 non-null  float64
 5   Votes     11782 non-null  int64
 6   Director  11356 non-null  object
 7   Actor 1   10781 non-null  object
 8   Actor 2   10386 non-null  object
 9   Actor 3   9924 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 1012.5+ KB

In [ ]:
# Now we can do the Univariate analysis & Bivariate analysis